
button {
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 23px 50px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.red:disabled {
  background-color: red;
  cursor: not-allowed;
}

.cart {
  text-align: center;
}

